# Адрес MQTT-брокера на ферме (обязательно заполнить)
MQTT_HOST=
MQTT_PORT=1883
MQTT_USERNAME=chicken
MQTT_PASSWORD=your_mqtt_password
MQTT_QOS=1

POSTGRES_USER=chicken
POSTGRES_PASSWORD=your_db_password
POSTGRES_DB=chicken_monitor

TEMP_GREEN_MIN=40.0
TEMP_GREEN_MAX=42.0
TEMP_YELLOW_MAX=43.0
