.env
.env.*
!.env.example
mosquitto/password.txt
**/password.txt
__pycache__/
*.pyc
*.pyo
venv/
.venv/
*.db
*.sqlite3
*.log
node_modules/
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
Desktop.ini
.DS_Store
*.vhdx
*.img
*.iso
id_deploy
id_deploy.pub
project.tar.gz
